[run]
omit = PyDSTool/tests/*, PyDSTool/Toolbox/tests/*, PyDSTool/Generator/tests/*, PyDSTool/Toolbox/optimizers/tests/*, PyDSTool/Toolbox/optimizers/*/tests/*, **/test_*

[report]
show_missing = True
